<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Welcome to main menu!</h2>
        <form action="/foodexp" method="POST">
            <input type="submit" value="Predict Food Expenditure">
        </form>
        <form action="/foodexp1" method="POST">
            <input type="submit" value="Predict Food Exp JS1">
        </form>
        <form action="/foodexp2" method="POST">
            <input type="submit" value="Predict Food Exp JS2">
        </form>
        <form action="/FAQ" method="POST">
            <input type="submit" value="Frequently Asked Questions">
        </form>
        <form action="/altInvest" method="POST">
            <input type="submit" value="Alternative Investment (Painting)">
        </form>
        <form action="/userLog" method="POST">
            <input type="submit" value="View User Log">
        </form>
        <form action="/deleteLog" method="POST">
            <input type="submit" value="Delete User Log">
        </form>
    </div>
</body>
</html>